.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.section {
  background-color: #000;
  height: 44px;
}

.section-2 {
  background-color: #f1e9e9;
  height: 40px;
  margin-top: 44px;
  margin-bottom: 20px;
  padding-top: 0;
  display: flex;
  position: absolute;
  inset: 0% 0% auto auto;
}

.heading {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
  font-size: 24px;
}

.div-block {
  display: flex;
}

.dropdown-nav-container---brix {
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.dropdown-nav-main-wrapper-v1---brix {
  justify-content: space-between;
  padding: 48px 40px 121px;
  display: flex;
}

.section-3 {
  color: #fff;
  background-color: #0470c9;
  border-top: 1px solid #ece1e1;
  align-items: center;
  height: auto;
  min-height: auto;
  margin-top: 170px;
  display: flex;
}

.dropdown-nav-content-wrapper---brix {
  justify-content: space-between;
  display: flex;
}

.text-block-5 {
  color: #fff;
}

.dropdown-nav-item---brix {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 16px;
  line-height: 1.66667;
  display: block;
}

.dropdown-nav-item---brix.last---brix {
  margin-bottom: 0;
}

.dropdown-nav-pages-content---brix {
  margin-bottom: 70px;
  padding-left: 30px;
}

.div-block-8 {
  display: flex;
  position: static;
  inset: 0% 0% auto auto;
}

.icon {
  color: #fff;
}

.dropdown-menu-v1---brix {
  align-items: center;
  position: static;
}

.dropdown-nav-pages-wrapper-v1---brix {
  width: 100%;
  margin-right: 23px;
}

.dropdown-nav-pages-wrapper-v1---brix.last---brix {
  margin-right: 0;
}

.dropdown-icon---brix {
  color: #fff;
  margin-right: 0;
  position: static;
}

.dropdown-bottom-button-arrow-v1---brix {
  opacity: .7;
  filter: saturate(24%);
  margin-left: 8px;
}

.flex-hc---brix {
  align-items: center;
  display: flex;
}

.flex-hc---brix.dropdown-button-v1---brix {
  flex-wrap: wrap;
  margin-bottom: -18px;
}

.nav-link---brix {
  align-items: center;
  padding: 0;
  transition: color .3s;
  display: flex;
  position: static;
}

.nav-link---brix:hover {
  color: #4a3aff;
}

.header-navigation---brix {
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
}

.dropdown-nav---brix {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.image---brix.dropdown-button-icon---brix {
  border-radius: 15px;
}

.dropdown-bottom-button-v1---brix {
  color: #6f6c90;
  background-color: #f7f7fb;
  border-radius: 14px;
  width: 100%;
  padding: 24px 28px;
  text-decoration: none;
  transition: color .35s;
  display: block;
}

.dropdown-bottom-button-v1---brix:hover {
  color: #4a3aff;
}

.dropdown-bottom-button-content---brix {
  margin-bottom: 18px;
}

.split-content---brix.header-right---brix {
  z-index: 2;
  color: #f8f3f3;
  background-color: #5a74eb00;
  align-items: center;
  min-width: auto;
  height: 20px;
  min-height: auto;
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 0;
  font-family: Merriweather, serif;
  font-size: 14px;
  display: flex;
  position: relative;
}

.dropdown-menu-text---brix {
  color: #fff;
  margin-right: 4px;
  font-family: Merriweather, serif;
  font-size: 14px;
}

.nav-menu---brix {
  margin-left: 40px;
  margin-right: 10px;
  font-family: Merriweather, serif;
  font-size: 18px;
}

.text-block-4 {
  width: 1010px;
}

.dropdown-list-v1---brix {
  background-color: #fff;
  margin-top: 30px;
  left: 0%;
  right: 0%;
  box-shadow: 0 20px 14px #4a3aff03, 0 22px 22px -6px #170f4908;
}

.title---brix.dropdown-bottom-button-title---brix {
  margin-bottom: 0;
  display: inline-block;
}

.title---brix.dropdown-nav-title-v1---brix {
  color: #050505;
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.image-wrapper---brix {
  margin-right: 18px;
  overflow: hidden;
}

.image-wrapper---brix.dropdown-button-icon-v1---brix {
  border-radius: 15px;
  align-self: flex-start;
  margin-bottom: 18px;
  box-shadow: 0 4px 20px #170f4914;
}

.dropdown-nav-content---brix {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.div-block-7 {
  justify-content: flex-start;
  display: flex;
}

.dropdown-nav-link---brix {
  color: #170f49;
  padding: 0;
  text-decoration: none;
  transition: color .35s;
}

.dropdown-nav-link---brix:hover, .dropdown-nav-link---brix.w--current {
  color: #4a3aff;
}

.button {
  background-color: #0a0a0a;
  border-right: 1px solid #000;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-right: 2px;
}

.button-2 {
  background-color: #030303;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-right: 20px;
}

.container {
  height: 900px;
  margin-top: 100px;
  display: flex;
  position: fixed;
  inset: 0%;
}

.code-embed {
  width: 100%;
  height: 300px;
}

@media screen and (max-width: 991px) {
  .dropdown-nav-container---brix.adjust-this-for-your-container-size {
    grid-column-gap: 32px;
    grid-row-gap: 64px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .dropdown-nav-main-wrapper-v1---brix {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    flex-wrap: wrap;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    padding: 40px 24px;
  }

  .dropdown-nav-item---brix {
    margin-bottom: 12px;
    line-height: 1.6;
  }

  .dropdown-nav-pages-content---brix {
    margin-bottom: 32px;
    margin-right: 0;
    padding-left: 24px;
  }

  .dropdown-nav-pages-wrapper-v1---brix {
    margin-right: 0;
  }

  .dropdown-nav---brix {
    margin-bottom: 0;
  }

  .image---brix.dropdown-button-icon---brix {
    border-radius: 12px;
  }

  .dropdown-bottom-button-v1---brix {
    align-self: flex-start;
    width: auto;
    padding: 16px;
  }

  .nav-menu---brix {
    margin-right: 16px;
  }

  .dropdown-list-v1---brix {
    z-index: 99;
  }

  .image-wrapper---brix.dropdown-button-icon-v1---brix {
    border-radius: 12px;
    width: 56px;
  }
}

@media screen and (max-width: 767px) {
  .dropdown-nav-container---brix.adjust-this-for-your-container-size {
    flex-direction: column;
    display: flex;
  }

  .dropdown-nav-main-wrapper-v1---brix {
    padding: 24px 16px;
  }

  .dropdown-nav-item---brix {
    margin-bottom: 12px;
  }

  .dropdown-nav-pages-content---brix {
    margin-bottom: 24px;
    padding-left: 16px;
  }

  .flex-hc---brix.dropdown-button-v1---brix {
    margin-bottom: -16px;
  }

  .dropdown-nav---brix {
    margin-bottom: 0;
  }

  .dropdown-bottom-button-content---brix {
    margin-bottom: 16px;
  }

  .dropdown-menu-text---brix {
    margin-right: 2px;
  }

  .title---brix.dropdown-nav-title-v1---brix {
    margin-bottom: 22px;
  }

  .image-wrapper---brix.dropdown-button-icon-v1---brix {
    border-radius: 8px;
    width: 48px;
    margin-bottom: 16px;
    margin-right: 12px;
  }
}

@media screen and (max-width: 479px) {
  .dropdown-nav-container---brix.adjust-this-for-your-container-size {
    display: block;
  }

  .dropdown-nav-pages-content---brix {
    margin-bottom: 16px;
    padding-left: 0;
  }

  .dropdown-nav-pages-wrapper-v1---brix {
    margin-bottom: 48px;
  }

  .flex-hc---brix.dropdown-button-v1---brix, .dropdown-bottom-button-content---brix {
    margin-bottom: 0;
  }

  .image-wrapper---brix.dropdown-button-icon-v1---brix {
    align-self: auto;
    margin-bottom: 0;
  }
}


